/* styles.css */

/* Main Styles */
section {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure full viewport height */
  }
  
  .container {
    max-width: 400px; /* Adjust as needed */
    width: 100%;
    padding: 0 20px;
  }
  
  /* Form Styles */
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Make label text bold */
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Set font family */
    font-size: 16px; /* Set font size */
  }
  
  .form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #b30000;
  }
  